body{
       background-color: rgba(222, 184, 135, 0.723);
}
.head {
       font-family: "Mouse Memoirs", sans-serif;
       font-size: 2rem;
       transition: 1s;
       cursor: pointer;
       background-image: linear-gradient(45deg, #0e206e, #710202);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       text-decoration: none;
     }
.per input{
       font-size: 2rem;
       height: 60vh;
       width: 60vw;
       position: relative;
       left: 18vw;
       top: 20vh;
   }
   .he{
       position: relative;
       top: 10vh;
font-size: 3rem;
text-align: center;
background-image: linear-gradient(45deg, #090909bc, #ff00dd);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: "Mouse Memoirs", sans-serif;
}
   